/*Buttons*/
.button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: var(--space-xsmall) var(--space-medium) var(--space-xsmall);
  min-width: 100px;
  font-size: var(--font-size-large);
  height: 48px;
  line-height: 24px;
}

.button-group {
  display: flex;
}

.button:nth-child(n) {
  margin: 0px var(--space-small) var(--space-small) 0px;
}

.button:last-child {
  margin: 0px;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed;
}

/* Size Modificators */

.button-small {
  padding: var(--space-xsmall) var(--space-small) var(--space-xsmall);
  min-width: 80px;
  font-size: var(--font-size-medium);
  height: 36px;
  line-height: 14px;
}

/* Color Modificators */

/* Primary */

.button-primary {
  color: var(--white);
  border-color: var(--blue700);
  background-color: var(--blue700);
}

.button-primary:enabled:hover,
.button-primary:focus {
  border-color: var(--blue800);
  background-color: var(--blue800);
}

.button-primary:enabled:active {
  border-color: var(--blue900);
  background-color: var(--blue900);
}

/* Secondary */

.button-secondary {
  color: var(--indigo700);
  border-color: var(--indigo50);
  background-color: var(--indigo50);
}

.button-secondary:enabled:hover,
.button-secondary:focus {
  border-color: var(--indigo100);
  background-color: var(--indigo100);
}

.button-secondary:enabled:active {
  border-color: var(--indigo200);
  background-color: var(--indigo200);
}

/* Danger */

.button-danger {
  color: var(--white);
  border-color: var(--red700);
  background-color: var(--red700);
}

.button-danger:enabled:hover,
.button-danger:focus {
  border-color: var(--red800);
  background-color: var(--red800);
}

.button-danger:enabled:active {
  border-color: var(--red900);
  background-color: var(--red900);
}

/* Secondary-border */

.button-secondary-border {
  color: var(--indigo700);
  border-color: var(--indigo400);
  background-color: transparent;
}

.button-secondary-border:enabled:hover,
.button-secondary-border:focus {
  background-color: var(--indigo100);
}

.button-secondary-border:enabled:active {
  background-color: var(--indigo200);
}

/* Danger-border */

.button-danger-border {
  color: var(--red700);
  border-color: var(--red600);
  background-color: transparent;
}

.button-danger-border:enabled:hover,
.button-danger-border:enabled:focus {
  background-color: var(--red50);
}

.button-danger-border:enabled:active {
  background-color: var(--red100);
}

/* Icon button */

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  border: 0px solid;
  background-color: var(--white);
  padding: var(--space-xxsmall);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 12px;
}

.button-icon:hover,
.button-icon:focus {
  background-color: var(--indigo100);
  outline: none;
}

.button-icon:active {
  background-color: var(--indigo200);
}

.button-icon[disabled] {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed;
}

/* Size Modificators */

.button-icon-small {
  width: 36px;
  height: 36px;
  background-position-x: 6px;
  background-position-y: 6px;
}
