/* ICONS */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 24px;
  height: 24px;
  font-family: var(--body-font);
  font-size: var(--font-size-medium);
  user-select: none;
}

.icon-add-collumn-right {
  background-image: url('../icons/add-collumn-right.svg');
}

.icon-add-row-bottom {
  background-image: url('../icons/add-row-bottom.svg');
}

.icon-align-left {
  background-image: url('../icons/align-left.svg');
}

.icon-add-row-bottom {
  background-image: url('../icons/add-row-bottom.svg');
}

.icon-arrow-left {
  background-image: url('../icons/arrow-left.svg');
}

.icon-arrow-right {
  background-image: url('../icons/arrow-right.svg');
}

.icon-arrow-up {
  background-image: url('../icons/arrow-up.svg');
}

.icon-author-cursor-view {
  background-image: url('../icons/author-cursor-view.svg');
}

.icon-back-1 {
  background-image: url('../icons/back-1.svg');
}

.icon-back {
  background-image: url('../icons/back.svg');
}

.icon-bell {
  background-image: url('../icons/bell.svg');
}

.icon-billing {
  background-image: url('../icons/billing.svg');
}

.icon-bold-BUI {
  background-image: url('../icons/bold-BUI.svg');
}

.icon-bullet-list {
  background-image: url('../icons/bullet-list.svg');
}

.icon-calendar {
  background-image: url('../icons/calendar.svg');
}

.icon-card-list {
  background-image: url('../icons/card-list.svg');
}

.icon-checkbox {
  background-image: url('../icons/checkbox.svg');
}

.icon-close {
  background-image: url('../icons/close.svg');
}

.icon-collapse {
  background-image: url('../icons/collapse.svg');
}

.icon-comment-feedback {
  background-image: url('../icons/comment-feedback.svg');
}

.icon-cursor-user {
  background-image: url('../icons/cursor-user.svg');
}

.icon-cursor {
  background-image: url('../icons/cursor.svg');
}

.icon-deactivated {
  background-image: url('../icons/deactivated.svg');
}

.icon-download {
  background-image: url('../icons/download.svg');
}

.icon-drag {
  background-image: url('../icons/drag.svg');
}

.icon-duplicate {
  background-image: url('../icons/duplicate.svg');
}

.icon-embed {
  background-image: url('../icons/embed.svg');
}

.icon-eraser {
  background-image: url('../icons/eraser.svg');
}

.icon-expand {
  background-image: url('../icons/expand.svg');
}

.icon-export {
  background-image: url('../icons/export.svg');
}

.icon-eye {
  background-image: url('../icons/eye.svg');
}

.icon-filters {
  background-image: url('../icons/filters.svg');
}

.icon-fit {
  background-image: url('../icons/fit.svg');
}

.icon-folder {
  background-image: url('../icons/folder.svg');
}

.icon-frame {
  background-image: url('../icons/frame.svg');
}

.icon-frames {
  background-image: url('../icons/frames.svg');
}

.icon-grid {
  background-image: url('../icons/grid.svg');
}

.icon-help-question {
  background-image: url('../icons/help-question.svg');
}

.icon-help {
  background-image: url('../icons/help.svg');
}

.icon-home {
  background-image: url('../icons/home.svg');
}

.icon-image {
  background-image: url('../icons/image.svg');
}

.icon-invitation {
  background-image: url('../icons/invitation.svg');
}

.icon-key {
  background-image: url('../icons/key.svg');
}

.icon-layers {
  background-image: url('../icons/layers.svg');
}

.icon-learn {
  background-image: url('../icons/learn.svg');
}

.icon-link {
  background-image: url('../icons/link.svg');
}

.icon-list {
  background-image: url('../icons/list.svg');
}

.icon-magnet {
  background-image: url('../icons/magnet.svg');
}

.icon-map {
  background-image: url('../icons/map.svg');
}

.icon-merge {
  background-image: url('../icons/merge.svg');
}

.icon-mic-off {
  background-image: url('../icons/mic-off.svg');
}

.icon-mic-on {
  background-image: url('../icons/mic-on.svg');
}

.icon-minus {
  background-image: url('../icons/minus.svg');
}

.icon-more {
  background-image: url('../icons/more.svg');
}

.icon-numbered-list {
  background-image: url('../icons/numbered-list.svg');
}

.icon-oval {
  background-image: url('../icons/oval.svg');
}

.icon-parameters {
  background-image: url('../icons/parameters.svg');
}

.icon-pdf {
  background-image: url('../icons/pdf.svg');
}

.icon-pen {
  background-image: url('../icons/pen.svg');
}

.icon-photo {
  background-image: url('../icons/photo.svg');
}

.icon-pin {
  background-image: url('../icons/pin.svg');
}

.icon-play {
  background-image: url('../icons/play.svg');
}

.icon-plus {
  background-image: url('../icons/plus.svg');
}

.icon-private {
  background-image: url('../icons/private.svg');
}

.icon-public {
  background-image: url('../icons/public.svg');
}

.icon-rectangle {
  background-image: url('../icons/rectangle.svg');
}

.icon-redo {
  background-image: url('../icons/redo.svg');
}

.icon-rounded {
  background-image: url('../icons/rounded.svg');
}

.icon-screen-sharing {
  background-image: url('../icons/screen-sharing.svg');
}

.icon-search {
  background-image: url('../icons/search.svg');
}

.icon-security {
  background-image: url('../icons/security.svg');
}

.icon-settings {
  background-image: url('../icons/settings.svg');
}

.icon-shared-with {
  background-image: url('../icons/shared-with.svg');
}

.icon-sound-off {
  background-image: url('../icons/sound-off.svg');
}

.icon-sound-on {
  background-image: url('../icons/sound-on.svg');
}

.icon-star-1 {
  background-image: url('../icons/star-1.svg');
}

.icon-sticky-bulk {
  background-image: url('../icons/sticky-bulk.svg');
}

.icon-sticky-recognition {
  background-image: url('../icons/sticky-recognition.svg');
}

.icon-sticky {
  background-image: url('../icons/sticky.svg');
}

.icon-stop {
  background-image: url('../icons/stop.svg');
}

.icon-team {
  background-image: url('../icons/team.svg');
}

.icon-text-heading-one {
  background-image: url('../icons/text-heading-one.svg');
}

.icon-text-italic-BUI {
  background-image: url('../icons/text-italic-BUI.svg');
}

.icon-text-plus {
  background-image: url('../icons/text-plus.svg');
}

.icon-text-strikethrough-BUI {
  background-image: url('../icons/text-strikethrough-BUI.svg');
}

.icon-text-underline-BUI {
  background-image: url('../icons/text-underline-BUI.svg');
}

.icon-text {
  background-image: url('../icons/text.svg');
}

.icon-tile {
  background-image: url('../icons/tile.svg');
}

.icon-timer {
  background-image: url('../icons/timer.svg');
}

.icon-trash {
  background-image: url('../icons/trash.svg');
}

.icon-undo {
  background-image: url('../icons/undo.svg');
}

.icon-unmerge {
  background-image: url('../icons/unmerge.svg');
}

.icon-upload {
  background-image: url('../icons/upload.svg');
}

.icon-user {
  background-image: url('../icons/user.svg');
}

.icon-video {
  background-image: url('../icons/video.svg');
}
