/* LINKS */
.link {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: border 250ms, color 250ms;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

.link.link-primary {
  color: var(--blue700);
  border-bottom-color: var(--blue400);
}

.link.link-primary:hover {
  color: var(--blue800);
  border-bottom-color: currentColor;
}

.link.link-primary:active {
  color: var(--blue900);
  border-bottom-color: currentColor;
}

.link.link-primary-light {
  color: var(--blue600);
  border-bottom-color: var(--blue600);
  border-bottom-color: var(--blue400);
}

.link.link-primary-light:hover {
  color: var(--blue600);
  border-bottom-color: currentColor;
}

.link.link-primary-light:active {
  color: var(--blue600);
  border-bottom-color: currentColor;
}

.link.link-danger {
  color: var(--red700);
  border-bottom-color: var(--red600);
}

.link.link-danger:hover {
  color: var(--red800);
  border-bottom-color: currentColor;
}

.link.link-danger:active {
  color: var(--red900);
  border-bottom-color: currentColor;
}

.link.link-text {
  color: var(--indigo700);
  border-bottom-color: var(--indigo600);
}

.link.link-text:hover {
  color: var(--indigo700);
  border-bottom-color: currentColor;
}

.link.link-text:active {
  color: var(--indigo700);
  border-bottom-color: currentColor;
}
