/*Radio button*/

.radiobutton {
  position: relative;
  display: flex;
  vertical-align: top;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: var(--font-size-medium);
  line-height: 20px;
  min-height: 20px;
}

.radiobutton:nth-child(n) {
  margin: 0px 0px 16px 0px;
}

.radiobutton input {
  display: none;
}

.radiobutton input:checked + span::before {
  background-color: var(--blue700);
  border-color: var(--blue700);
}

.radiobutton input:checked + span::after {
  transform: scale(1);
}

.radiobutton input:checked + span:active::before {
  background-color: var(--blue900);
  border-color: var(--blue900);
}

.radiobutton input:checked:disabled + span::before {
  opacity: 0.2;
  border-color: var(--blue700);
}

.radiobutton input:disabled + span {
  color: var(--indigo500);
}

.radiobutton input:disabled + span::before {
  opacity: 0.4;
  border-color: var(--indigo400);
}

.radiobutton span {
  cursor: pointer;
  padding-left: 28px;
}

.radiobutton span::before,
.radiobutton span::after {
  position: absolute;
  content: '';
  border-radius: var(--border-radius-circle);
  box-sizing: border-box;
}

.radiobutton span::before {
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: var(--white);
  border: 1px solid var(--indigo400);
  transition: border-color 250ms, background-color 250ms, opacity 250ms;
}

.radiobutton span::after {
  top: 7px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: var(--white);
  transform: scale(0);
  transform-origin: center;
  transition: transform 250ms 200ms;
}

.radiobutton span:hover::before {
  border-color: var(--blue600);
}

.radiobutton span:active::before {
  border-color: var(--blue700);
}
