.toggle {
  position: relative;
  display: flex;
  vertical-align: top;
  cursor: pointer;
  min-width: 30px;
  min-height: 20px;
}

.toggle:nth-child(n) {
  margin: 0px 0px 16px 0px;
}

.toggle input[type='checkbox'] + span::before {
  width: 28px;
  height: 16px;
}

.toggle input[type='checkbox'] + span::after {
  width: 12px;
  height: 12px;
}

.toggle input[type='checkbox']:checked + span::after {
  transform: translateX(12px);
}

.toggle span {
  font-size: var(--font-size-medium);
  line-height: 18px;
  padding-left: 42px;
}

.toggle input[type='checkbox'] {
  position: absolute;
  top: 2px;
  left: 1px;
  z-index: -1;
  opacity: 0;
}

.toggle input[type='checkbox'] + span {
  position: relative;
}

.toggle input[type='checkbox'] + span::before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  display: block;
  border-radius: 10px;
  background-color: var(--indigo400);
  transform: translateY(1px);
}

.toggle input[type='checkbox'] + span::after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  display: block;
  margin: 2px;
  border-radius: 50%;
  background: var(--white);
  top: 1px;
}

.toggle input[type='checkbox']:checked + span::before {
  background-color: var(--blue700);
}

.toggle span {
  vertical-align: top;
}

.toggle input[type='checkbox'] + span::before {
  transition-delay: 0.05s;
  transition: background-color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.toggle input[type='checkbox'] + span::after {
  transition-delay: 0.05s;
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.toggle:not(.toggle--disabled):hover span::before {
  background-color: var(--indigo400);
}


.toggle:not(.toggle--disabled):hover input[type='checkbox']:checked + span::before {
  background-color: var(--blue800);
}

.toggle:focus input[type='checkbox'] + span::before {
  outline: var(--blue700) 1px solid;
  outline-style: auto;
  outline-offset: 1px;
}

.toggle.toggle--disabled {
  opacity: 0.2;
}
